div {
  --width-full: 180px;
  --width-half: 90px;
  --color-yellow: #f8e34b;
  --color-black: #0c0c0c;
  --color-white: #eeedef;
  --color-shadow: #c8c8c8;
  --radius: 9px;

  position: relative;
  width: var(--width-full);
  height: var(--width-full);
  background-color: var(--color-yellow);
  border-radius : var(--radius);
}

div::before {
  content: '';
  position: absolute;
  width: var(--width-half);
  height: var(--width-half);
  bottom: 0;
  left: 0;
  background: linear-gradient(178deg, var(--color-shadow) 1%, var(--color-white) 7%);
  border-bottom-left-radius: var(--radius);
}

div::after {
  content: '';
  position: absolute;
  width: var(--width-half);
  height: var(--width-half);
  bottom: 0;
  right: 0;
  background-color: var(--color-black);
  border-bottom-right-radius: var(--radius);
}
